/* Custom page CSS
-------------------------------------------------- */
#logo { margin: 20px 0 30px; }

.signup-btn { float: left; padding: 22px 40px; background-color: #dc4e23; color: #fff; font-size: 18px; 
  -webkit-border-radius: 2px; 
  -moz-border-radius: 2px; 
  border-radius: 2px;
  &:hover { background-color: #b03f1d; text-decoration: none; color: #fff; } 
}

.section { padding: 50px 0 60px; border-bottom: 1px #ccc solid; }

.sponsors { margin: 60px 0; }

#about { padding-top: 80px; }

#projects { background: #cddde0; 
  .project { margin-top: 30px; }
  .project-detail { padding-top: 12px; }
}
#event-info { background: #e1e9ec;
  .general-info { margin-bottom: 10px; font-size: 21px; }
  dl { margin-top: 0; }
  dt { font-weight: 600; }
  dd { font-weight: 200; margin: 0 0 20px 0; line-height: 28px; }
}

#event-map { height: 300px; }

#event-schedule { background: #e1e9ec;
  caption { font-size: 21px; font-weight: 200; margin-bottom: 10px; }
  table { background: #fff; border-color: #ccc; }
}